html,
body {
    height: 100%;
}

#content-area {
    /* min-height: 100%; */
}

#content-area .keditor-content-area {
    /* min-height: 100%; */
}

#content-area1,
#content-area2,
#content-area3 {
    padding: 30px;
    margin: 20px;
    background: #fafafa;
    min-height: 150px;
    border: 3px dashed #ccc;
}

#logo-container {
    max-width: 400px;
    margin: 50px auto;
}
#logo-container img {
    width: 100%;
    margin-bottom: 25px;
}
#logo-container span {
    font-family: 'calibre-medium';
    font-size: 30px;
}
#counting-container {
    max-width: 400px;
    margin: 75px auto 5px;
    font-family: 'calibre-medium';
    font-size: 24px;                
}
#counting-container img {
    height: 50px;
}                                    
#keditor-snippets-list {
    display: none;
}
.counting {
    float: left;
}
.keditor-content-area {
    width: 430px;
    margin: 0 auto!important;
    padding: 30px 50px;
}
.keditor-toolbar.keditor-toolbar-container .btn-container-duplicate {
    display: none!important;
}
.keditor-component:hover .keditor-toolbar .btn-component-reposition,
.keditor-component:hover .keditor-toolbar .btn-component-duplicate,
.keditor-component:hover .keditor-toolbar .btn-component-delete {
    display: none!important;
}            
#content-area .keditor-content-area {
    min-height: 0%!important;
}            
#button-add-element-container {
    width: 430px;
    padding: 30px 50px;
    margin: 0px auto;
}
#new-kittie {
    margin-top: 30px;
}
.description-kittie {
    max-width: 50ch;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

/* PRELOADER */            
body {
overflow: hidden;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url('../img/resources/favicon/favicon.png');
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}           